body {
	background: white url("../img/bg-pattern.png");
	text-align:center;
}
#global {
	margin-left: auto;
	margin-right: auto;
	width : 700px;
	text-align:center;
}

header {
	border-bottom: 1px solid gray;
}

h1 {
	color : gray;
}

.item{
	height:100px;
	width:100px;
	float:left;
	background-color:white;
	margin:5px;	
}
.item a{
	display:block;
	height:100%;
}

section {
	margin-top:35px;
}